@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.col-9 {
  width: 100%;
}

.finally {
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.finally nav {
  position: relative !important;
}

.finally .py-4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.finally .py-4 .hepsi {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  margin: 0;
}

.finally .py-4 .hepsi .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.finally .py-4 .hepsi .items .trio {
  padding: 20px 0;
}

.finally .py-4 .hepsi .items .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  border: 2px solid #e7e7e7;
  background-color: #000;
}

.finally .py-4 .hepsi .items .order h3 {
  font-size: 1.1rem;
  font-weight: 900;
  margin-bottom: 2em;
  padding-left: .5rem;
  color: white;
}

.finally .py-4 .hepsi .items .order h4 {
  font-size: 14px;
  font-weight: 700;
  padding-left: .5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e7e7e7;
  color: white;
}

.finally .py-4 .hepsi .items .order table {
  background-color: #000;
}

.finally .py-4 .hepsi .items .order table .td-img {
  width: 9rem;
  height: 6rem;
}

.finally .py-4 .hepsi .items h2 {
  color: white;
  font-size: 1.45rem;
  font-weight: 700;
}

.finally .py-4 .hepsi .items h5 {
  font-size: 1.125rem;
  color: #444;
  font-weight: 600;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.finally .py-4 .hepsi .items .d-flex tbody tr .td-item-name {
  font-weight: 600;
  color: white;
}

.finally .py-4 .hepsi .items .d-flex tbody tr .td-item-price {
  color: #e7e7e7;
}

.finally .py-4 .hepsi .items .d-flex tbody tr .item-quantity {
  font-weight: 500;
  color: #6b5b5bbd;
  padding: 0 10px;
}

.finally .py-4 .hepsi .items .d-flex tbody tr td .btn-danger {
  background-color: transparent;
  color: #a72929;
  -webkit-transition: .3s;
  transition: .3s;
}

.finally .py-4 .hepsi .items .d-flex tbody tr td .btn-danger:hover {
  background-color: #a72929;
  color: #000;
}

.finally .py-4 .hepsi .items .d-flex tbody tr td .btn-success {
  background-color: transparent;
  color: #13653f;
}

.finally .py-4 .hepsi .total-price {
  margin: 15px 0;
  border-bottom: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.finally .py-4 .hepsi .total-price h1 {
  font-size: 2.1rem;
  color: white;
  font-weight: 600;
  padding: 9px 0;
  font-family: "poppins";
}

@media (max-width: 600px) {
  .btn-danger {
    font-size: 15px;
  }
  table .td-img {
    width: 6rem !important;
    height: 5rem !important;
  }
}
/*# sourceMappingURL=cards.css.map */